
@model SP.Admin.Web.Models.MarcaDto


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo   Marca</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Nuevo", "Usuario", FormMethod.Post, new { id = "NuevaMarcaForm", name = "NuevaMarcaForm", @class = "form-horizontal", onsubmit = "return false" }))
            {

                <div class="form-group">

                    @Html.LabelFor(model => model.Nombre, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", maxlength = 20 })
                    </div>

                </div>

                  
                @Html.HiddenFor(model => model.id)

            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary " id="btn-GuardarMarca">Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div>